<h1>The Burger Cafe Menu</h1>
Waiting to be devoured!
{{#each burgerData}}
  <pre>
    {{#if this.devoured}}
      <span>             <span>This burger was eaten: {{burger_name}}
    {{else}}
      {{burger_name}} 
      <form action="/update/{{ id }}" method="post">
      <button type="submit">Devour it!</button>
    </form> 
    {{/if}}  
  </pre>
{{/each}}